{
	"mode": "mas",
	"address": "",
	"port": 10075,
	"capacity": 200,
	"client_timeout": 45000,
	"log_level": "info",
	"mls_ip_address": "0.0.0.0",
	"api": {
		"url": "https://uyaonline.com/api",
		"key": "00000000000000000000000000000000"
	},
	"max_login_attempts": 20,
	"whitelist": {
		"enabled": false,
		"players": [
			"hashsploit",
			"Shanzenos",
			"Foas"
		]
	},
	"discord_webhooks": {
		"start": "",
		"shutdown": "",
		"login_success": "",
		"login_failure": "",
		"ban": ""
	}
}
